<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.visteon.com/onoff/Coom"
			class = "com.visteon.onoff.coom.CoomPackage"
			genModel = "model/generated/Coom.genmodel" />
	</extension>
</plugin>
