<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="com.visteon.onoff.coom.ui.newwizard.NewCoomWizard"
            id="com.visteon.onoff.coom.ui.newwizard"
            name="Component OnOff Manifest[coom]">
      </wizard>
   </extension>

</plugin>
